header {
    display: flex;
    justify-content: space-between;
    color: green;
    background-color: black;
    border: solid 5px green;
    padding: 10px;
}

nav {
    width: 70%;
    border: solid 5px yellow;
}